
$default-padding: 10px;

$breakpoint-desktop: 768px; // > 768px
$breakpoint-tablet: 768px; // < 768px y min 600px
$breakpoint-mobile: 600px; // < 600px


// COLORS
$primary-color: #d4e300;


$dark-text: black;
$light-text: white;  