
// COLORS
$primary-color: #d4e300;
$secondary-color: #414700;
$tertiary-color: #fbfce5;
$dark-text: #585858;
$light-text: white;

// FONT
$default-font-family: Arial;
$default-font-size: 16px;

// OTHER
$default-padding: 10px;


// MIXIN MEDIA QUERIES
@mixin medium-device {
    @media screen and (min-width: 425px) and (max-width: 768px) {
        @content;
    }
}

@mixin small-device {
    @media screen and (max-width: 425px) {
        @content;
    }
}