@use './base' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {

    .toolbar {
        display: flex;
        justify-content: space-between;
        padding: $default-padding;

        @media screen and (max-width: $breakpoint-mobile) {
            display: none;
        }
    }

    .page-title {
        font-size: 22px;
        color: $light-text;

        display: flex;
        align-items: center;
        padding: $default-padding;
        background-color: $primary-color;
        height: 60px;
    }
}

