@use "./base" as *;

* {
  box-sizing: border-box;
  font-family: $default-font-family, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: $default-font-size;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 5fr auto;
  grid-template-areas:
    "header header header"
    "nav main main"
    "footer footer footer";

  /*  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 5fr auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  } */
}

header {
  grid-area: header;

  .toolbar {
    display: flex;
    justify-content: space-between;
    padding: $default-padding;
    color: $dark-text;

    @include medium-device {
      display: none;
    }

    @include small-device {
      display: none;
    }
  }

  .page-title {
    display: flex;
    align-items: center;
    padding: $default-padding;
    background-color: $primary-color;
    height: 60px;
    font-size: 1.2rem;
    color: $light-text;
  }
}
